
#refresh-button {
	margin-top: 20px;
    margin-bottom: 8px;
}

#add-button {
	margin-top: 20px;
    margin-bottom: 8px;
}

.big-msg {
    padding: 15px;
    margin: 0 0 10px;
}

#colLeft {
	border: 0;
	background: none;
	width: 48px;
	height: 24px;
	float: left;
	margin-left: 3px;
	margin-top: 5px;
	font-size: 0;
	line-height: 0;
	background-image: url("/static/images/new.png");
	background-repeat: no-repeat;
	background-size: contain;
}

#broken-link {
	border: 0;
	background: none;
	width: 41px;
	height: 24px;
	float: left;
	margin-left: 10px;
	margin-top: 5px;
	font-size: 0;
	line-height: 0;
	background-image: url("/static/images/error.png");
	background-repeat: no-repeat;
	background-size: contain;
}

#add-feed-error {
	color: red;
}

.table-row-indent {
    width: 48px;
    height: 24px;
    display: inline;
	margin-left: 3px;
	margin-top: 2px;
}

.row-text {
    font-size: 23px;
}

.table-row {
    padding-top: 3px;
}

.odd {
    background-color: #BBBBBB;
}

.row-btns {
    margin-bottom: 3px;
}

.upper-btns {
    margin-right: 10px;
}

.home-btn {
    margin-top: 22px;
    margin-right: 4px;
}

form {
    display: inline;
}

/* The FFS Bootstrap section */

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    padding-left: 0px;
}
